<% include ../partials/header %>
<body>
  <div class="content">
    <div class="header">
      <h2><%=venueName%> Venue</h2>
      <h2><%=spotifyUserName%>'s playlists</h2>
    </div>
      <form action="/createPlaylist" method="post" class="createForm">
        <button class="create">Create Playlist</button>
      </form>
      <!-- LIST OF PLAYLISTS -->
      <% for(var i=0; i < data.items.length; i++) {%>
        <h3><a href='/playlist/?venue=<%=venueName%>&playlistId=<%= data.items[i].id %>&playlistName=<%= data.items[i].name %>'>
          <%= data.items[i].name %>
        </a></h3>
      <% } %>
      <div class='navPlaylist'>
        <a href="/dj/?nextUrl=<%= data.previous %>" class="nextPrev">Previous</a>
        <a href="/dj/?nextUrl=<%= data.next %>" class="nextPrev">Next</a>
      </div>
  </div>
  <a href="/venue-list" class="exit">Exit</a>
</body>
</html>
